@import '../assets/styles/index.scss';

.xun-popup {
  position: fixed;
  z-index: var(--zindex-popup);
  &__body {
    position: fixed;
    z-index: var(--zindex-popup);
    color: #333;
    background: #fff;
    &-left {
      height: 100%;
      top: 0;
      left: 0;
      max-width: 90%;
    }
    &-right {
      height: 100%;
      top: 0;
      right: 0;
      max-width: 90%;
    }
    &-top {
      width: 100%;
      top: 0;
      left: 0;
      max-height: 90%;
    }
    &-bottom {
      width: 100%;
      bottom: 0;
      left: 0;
      max-height: 90%;
    }
  }
}
