@import '../assets/styles/index.scss';

.xun-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1001;
  min-width: 80px;
  min-height: 80px;
  transform: translate(-50%, -50%);
  background: #000000;
  opacity: 0.8;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  /*box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);*/
  box-shadow: 0 1px 10px 0 RGB(0 0 0 / 10%), 0 2px 15px 0 RGB(0 0 0 / 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__content {
    font-size: 13px;
    margin-top: 5px;
  }
  &__snipper {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100%;
    border-color: #fff;
    border-right-color: #616161;
    animation: spin 0.65s linear infinite;
  }
}
