$body-color: #f7f8fa;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $body-color;
}

ul li {
  list-style-type: none;
}

.page-components {
  display: flex;
}

.site-header {
  width: 100%;
  background-color: #001938;
  user-select: none;
  padding: 20px;
  margin-bottom: 20px;
  z-index: 100;
  position: fixed;
  top: 0;
  a {
    color: #fff;
    margin-left: 20px;
  }
}

.site-main {
  margin: 20px;
}

.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  z-index: 1;
  min-width: 220px;
  max-width: 220px;
  padding: 24px 20px 70px;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 10px;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(69, 90, 100, 0.2);
  }
  .nav-title {
    padding: 8px 0 8px 24px;
    color: #455a64;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }
  .nav-group {
    margin-bottom: 16px;
    padding-left: 6px;
  }
  .nav-link {
    display: block;
    margin: 8px 0;
    padding: 8px 0 8px 24px;
    color: #455a64;
    font-size: 13px;
    line-height: 20px;
    &.active {
      font-weight: 600;
      background-color: #ebfff0;
      border-radius: 999px;
      color: #4fc08d;
    }
  }
}

.main {
  display: flex;
  margin-top: 60px;
}

.doc {
  box-sizing: border-box;

  padding: 20px;
  min-width: 800px;
  max-width: 900px;
  margin: 0px 10px 30px 240px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  line-height: 30px;

  /*pre {
    padding: 0px;
    border-radius: 10px;
    code {
      position: relative;
      display: block;
      padding: 16px 20px;
      overflow-x: auto;
      color: #58727e;
      font-weight: 400;
      font-size: 14px;
      font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
      line-height: 20px;
      white-space: pre-wrap;
      word-wrap: break-word;
      -webkit-font-smoothing: auto;
      background-color: #f8f8f8;
      border-radius: 20px;
    }
  }*/
}

.simulator {
  /* position: fixed;
  top: 80px;
  right: 50%;*/
  /*margin-right: -600px;*/
}
