@import '../assets/styles/index.scss';

.xun-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  input {
    display: none;
  }
  &__content {
    margin-left: 2px;
    margin-top: -1px;
  }
}
.xun-checkbox-group {
  .xun-checkbox {
    margin-right: 15px;
  }
}
