@import '../assets/styles/index.scss';
.xun-radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  input {
    display: none;
  }
  &__content {
    margin-left: 5px;
  }
}
.xun-radio-group {
  .xun-radio {
    margin-right: 10px;
  }
}
