@import '../assets/styles/index.scss';

.xun-stepper {
  display: flex;
  align-items: center;
  height: 30px;
  /* chrome */
  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  /* 火狐浏览器 */
  &__input[type='number'] {
    -moz-appearance: textfield;
    outline: none;
    padding: 0;
  }
  &__input-wrapper {
    height: 30px;
  }
  &__add,
  &__minus {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    cursor: pointer;
  }
  &__input {
    margin: 0 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #ddd;
  }
}
