@import '../assets/styles/index.scss';

.xun-stepper {
  display: flex;
  align-items: center;
  height: 30px;
  &__disabled {
    cursor: not-allowed;
  }
  /* chrome */
  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  /* 火狐浏览器 */
  &__input[type='number'] {
    -moz-appearance: textfield;
    outline: none;
    padding: 0;
  }
  &__input-wrapper {
    height: 30px;
  }
  &__plus,
  &__minus {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    background: #fff;
    font-weight: normal;
    border: 1px solid #ddd;
    color: #333;
    &:hover {
      background: unset;
    }
    &.disabled {
      background: #eee;
    }
  }
  &__input {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    &:disabled {
      cursor: not-allowed;
    }
  }
}
