@import '../style/index.scss';

.xun-stepper {
  display: flex;
  align-items: center;
  height: 30px;
  /* chrome */
  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  /* 火狐浏览器 */
  &__input[type='number'] {
    -moz-appearance: textfield;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  &__input-wrapper {
    height: 30px;
  }
  &__add,
  &__minus {
    border: none;
    outline: none;
    background: #fff;
  }
}
