:root {
  --zindex-mask: 1000;
  --zindex-popup: 1001;

  --action-sheet-background: #fff;

  --color-primary: '';
  --color-default: #000000;
  --color-success: #07bc0c;
  --color-failure: #e74c3c;
  --color-info: #3498db;
  --color-warning: #f1c40f;
}
