.xun-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 15px;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  &__left {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 5px;
  }
  &__link {
    cursor: pointer;
  }
  &__arrow {
    margin-left: 5px;
    margin-right: 2px;
    &:after {
      display: inline-block;
      content: '';
      border-right: 2px solid #bcbcbc;
      border-top: 2px solid #bcbcbc;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
    }
  }
  &__close {
    cursor: pointer;
  }
  &__success {
    background: #07bc0c;
  }
  &__fail {
    background: #e74c3c;
  }
  &__info {
    background: #3498db;
  }
  &__warn {
    background: #f1c40f;
  }
  &__normal {
    background: #eee;
    color: #333;
  }
}
