@import '../assets/styles/index.scss';

.xun-list {
  font-size: 16px;
  &__item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      flex: 0 1 100%;
      display: flex;
      align-items: flex-start;
    }
    &__right {
      flex: 0 1 80px;
    }
    &__icon {
      margin-right: 15px;
    }
    &__title {
      font-size: 14px;
      color: #999;
      margin-bottom: 5px;
    }
    &__description {
      font-size: 14px;
      color: #999;
      margin-top: 3px;
    }
    &__anchor {
      cursor: pointer;
    }
    &__content {
      /*margin-bottom: 3px;*/
    }
  }
}
