.__dumi-default-mobile-demo-layout {
  padding: 0 !important;
}
.__dumi-default-device[data-device-type='iOS'] {
  background: #f7f8fa;
}

body {
  margin: 0;
  overflow-x: auto;
  color: #000;
  font-size: 16px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.demo-page {
  margin: 20px 10px;
  &-title {
    font-size: 20px;
    margin: 0 0 15px;
  }
  .demo-block {
    margin-bottom: 25px;

    .demo-title {
      font-size: 14px;
      color: #455a64;
      color: #333;
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    .demo-body {
      /*background: #fff;*/
      &.white {
        background: #fff;
        padding: 15px;
        border-radius: 5px;
      }
    }
    &.white {
      background: #fff;
      padding: 0 15px 30px;
      border-radius: 5px;
      .demo-body {
        background: #fff;
      }
    }
  }
  .demo-result {
    padding: 10px 0 15px;
    font-size: 14px;
    color: #666;
  }
  .demo-box {
    background: #eee;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 8px;
  }
}

.demo-page-rate {
  .demo-title {
    margin-bottom: 10px;
  }
}

.demo-page-tag {
  .xun-tag {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .demo-block .demo-body.white {
    padding-bottom: 5px;
  }
}

.demo-page-swipeaction {
  .demo-block.white {
    padding: 0 0 0 10px;
  }
}

.demo-page-button {
  .xun-button {
    min-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .demo-block .demo-body.white {
    padding-bottom: 5px;
  }
}

.demo-page-grid {
  .xun-grid__item {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}

.demo-page-backtotop {
  main {
    position: relative;
  }
}

.demo-page-badge {
  .demo-block {
    .demo-body {
      .white {
        padding: 0 15px;
      }
      & > div {
        margin-right: 20px;
      }
    }
  }
}
.demo-page-pull {
  background: #fff;
  padding: 0 20px;
}
.demo-page-navbar {
  background: #fff;
}
