:root {
  --zindex-mask: 1000;
  --zindex-popup: 1001;
  --zindex-toast: 1001;
  --zindex-backtotop: 1001;

  --action-sheet-background: #fff;

  --color-default: #adadad;
  --color-primary: #6777ef;
  --color-secondary: #cdd3d8;
  --color-success: #63ed7a;
  --color-failure: #e74c3c;
  --color-info: #3abaf4;
  --color-warning: #ffa426;
  --color-danger: #fc544b;

  --color-light: #191d21;
  --color-dark: #191d21;
}
